.DS_Store
.idea

node_modules/
bower_components/
npm-debug.log
*.zip

site/accounts/*.php
!site/account/demo.php
thumbs/*
!thumbs/.gitkeep
assets/avatars/*
!assets/avatars/.gitkeep
site/cache/*
!site/cache/index.html
site/config/*
!site/config/config.php
